.adminLayout {
  display: flex; /* Giữ nguyên, đây là layout cha */
  height: 100vh;
  background-color: #f9fafb;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}


.pageContent {
  flex: 1;
  overflow-y: auto; /* Chỉ cho phép cuộn ở khu vực nội dung trang */
  padding: 1.5rem; /* Thêm padding cho nội dung bên trong */
}

/* Media query không cần margin nữa,
  chúng sẽ tự động hoạt động vì Sidebar (cha)
  sẽ co lại và mainContent (flex: 1) sẽ tự bung ra.
*/
